/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*************************************************/

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

a{
	text-decoration: none;
	color: #000;
}

body{
	background: #e7e6e6;
	color: #000;
}

.toppee, .contentee{
	position: relative;
}

.content{
	position: relative;
	width: 1170px;
	margin: 0 auto;
}

.toppee{
	background: #5b9bd5;
	padding-top: 99px;
	padding-bottom: 80px;
	margin-top: 84px;
	margin-bottom: 40px;
}

.argologo{
	height: 60px;
	position: absolute;
	top: -159px;
	left: -5px;
}

.argologo img{
	width: 110px;
	height: 110px;
	border: 1px solid #333;
	padding: 5px;
}

.go{
	position: absolute;
	top: 161px;
}

.pie{
	float: left;
	width: 240px;
	height: 43px;
	background: url(../img/pie.png);
	text-align: center;
	line-height: 40px;
	margin-right: 40px;
}

.pie a{
	text-decoration: none;
	color: #000;
	display: block;
}

.contentee{
	width: 1170px;
	margin: 0 auto;
}

.x8{
	width: 66.66%;
	float: left;
}

.x4{
	width: 33.33%;
	float: left;
}

.node{
	background: #fff;
	box-shadow: 0px 0 0 #333;
	border: 1px solid #aaa;
	margin-bottom: 40px;
	margin-right: 40px;
	padding-bottom: 5px;
}

.xlast .node{
	margin-right: 0;
}

.node li{
	list-style-type: circle;
	margin: 20px 60px 10px 60px;
	line-height: 30px;
}

.node-header h2{
	background: #f8f8f8;
	border-bottom: 1px solid #47a;
	color: #57a;
	font-size: 20px;
	padding: 20px 40px;
}

.node h3{
	padding: 20px 40px 10px;
	font-size: 14px;
}

.node h4{
	padding: 10px 40px 5px;
	font-size: 12px;
	color: #333;
}

.node .en{
	font-style: italic;
}

.node-smallfont{
	font-size: 12px;
}

.node-smallfont li{
	margin: 15px 20px 5px 60px;
    	line-height: 16px;
}

.foot{
	line-height: 24px;
	font-size: 12px;
	color: #333;
	text-align: center;
	padding: 12px 0 20px;
	background: #fff;
	border-top: 4px solid #47a;
}
